body {
    margin: 30px;
}

h1, h2, h3, h4, h5 {
    font-family: Verdana, Arial, sans-serif;
    clear: both;
}

h4, h5 {
    margin: 0;
    padding: 0;
}

dl {
    display: block;
}

dl.all_modules {
    border: 1px solid black;
    padding: 20px;
}

dl.all_modules dt {
    margin: 10px 0 3px;
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
}

dl.module_info dt, dl.module_info dd {
    float: left;
    margin: 0;
    padding: 0;
}

dl.module_info dt {
    clear: left;
    width: 30%;
    font-weight: bold;
    white-space: nowrap;
}

dl.module_info dd {
    width: 50%;
}

div.jsclass {
    border: 1px solid black;
    padding: 15px;
}

div.function {
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0;
    background-color: lightgrey;
}
